# Hardhat
node_modules
.env
artifacts
coverage
coverage.json
typechain-types

# Slither
.slither.db.json

# Foundry
cache
out
broadcast

# Next.js
.next

# Remix
.remix.config.json

# Local outputs
output
tmp
deployments/*.json
